* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(147, 34, 212);
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: rgb(251, 251, 251);
    color: antiquewhite;
    border-bottom: 2px rgb(255, 255, 255);
}
